In [0]:
users = [
    {'id': 1, 'name': 'John', 'telephone': ['1234567890', '9876543210']},
    {'id': 2, 'name': 'Jane', 'telephone': ['5555555555']},
    {'id': 3, 'name': 'Bob', 'telephone': ['1111111111', '2222222222', '3333333333']},
    {'id': 4, 'name': 'Dany', 'telephone': None}
]

from pyspark.sql import Row

users_as_df_rows = [Row(**user) for user in users]

df = spark.createDataFrame(users_as_df_rows)

df.show(truncate=False)

+---+----+------------------------------------+
|id |name|telephone                           |
+---+----+------------------------------------+
|1  |John|[1234567890, 9876543210]            |
|2  |Jane|[5555555555]                        |
|3  |Bob |[1111111111, 2222222222, 3333333333]|
|4  |Dany|NULL                                |
+---+----+------------------------------------+

In [0]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- telephone: array (nullable = true)
 |    |-- element: string (containsNull = true)

### explode

In [0]:
from pyspark.sql.functions import explode

df.withColumn('phone', explode('telephone')).show(truncate=False)

+---+----+------------------------------------+----------+
|id |name|telephone                           |phone     |
+---+----+------------------------------------+----------+
|1  |John|[1234567890, 9876543210]            |1234567890|
|1  |John|[1234567890, 9876543210]            |9876543210|
|2  |Jane|[5555555555]                        |5555555555|
|3  |Bob |[1111111111, 2222222222, 3333333333]|1111111111|
|3  |Bob |[1111111111, 2222222222, 3333333333]|2222222222|
|3  |Bob |[1111111111, 2222222222, 3333333333]|3333333333|
+---+----+------------------------------------+----------+

### explode_outer

In [0]:
from pyspark.sql.functions import explode_outer


df.withColumn('phone', explode_outer('telephone')).show(truncate=False)

+---+----+------------------------------------+----------+
|id |name|telephone                           |phone     |
+---+----+------------------------------------+----------+
|1  |John|[1234567890, 9876543210]            |1234567890|
|1  |John|[1234567890, 9876543210]            |9876543210|
|2  |Jane|[5555555555]                        |5555555555|
|3  |Bob |[1111111111, 2222222222, 3333333333]|1111111111|
|3  |Bob |[1111111111, 2222222222, 3333333333]|2222222222|
|3  |Bob |[1111111111, 2222222222, 3333333333]|3333333333|
|4  |Dany|NULL                                |NULL      |
+---+----+------------------------------------+----------+