### Create a df from notebook: 07_create_a_df

In [0]:
%run "./07_create_a_df"

In [0]:
df.dtypes

[('id', 'bigint'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('email', 'string'),
 ('phone_numbers', 'struct<mobile:bigint,home:bigint>'),
 ('courses', 'array<string>'),
 ('is_customer', 'boolean'),
 ('amount_paid', 'double'),
 ('customer_from', 'date'),
 ('last_updated_ts', 'timestamp')]

[('id', 'bigint'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('email', 'string'),
 ('phone_numbers', 'struct<mobile:bigint,home:bigint>'),
 ('courses', 'array<string>'),
 ('is_customer', 'boolean'),
 ('amount_paid', 'double'),
 ('customer_from', 'date'),
 ('last_updated_ts', 'timestamp')]

+---+----------+---------+---------------------------+------------------------+------------------------------------------------+-----------+-----------+-------------+-------------------+
|id |first_name|last_name|email                      |phone_numbers           |courses                                         |is_customer|amount_paid|customer_from|last_updated_ts    |
+---+----------+---------+---------------------------+------------------------+------------------------------------------------+-----------+-----------+-------------+-------------------+
|1  |John      |Doe      |john.doe@example.com       |{1234567890, 9876543210}|[Math, Science, History]                        |true       |100.5      |2022-05-15   |2024-05-18 11:28:25|
|2  |Jane      |Smith    |jane.smith@example.com     |{9876543210, 1234567890}|[English, Art, Music]                           |false      |0.0        |2023-02-10   |2024-05-18 11:28:25|
|3  |Alice     |Johnson  |alice.johnson@example.com  |{5555555555, 4444444444}|[Physics, Chemistry, Biology]                   |true       |75.2       |2021-08-20   |2024-05-18 11:28:25|
|4  |Robert    |Brown    |robert.brown@example.com   |{7777777777, 8888888888}|[Computer Science, Programming, Data Structures]|true       |50.0       |2023-01-05   |2024-05-18 11:28:25|
|5  |Emily     |Lee      |emily.lee@example.com      |{9999999999, 1111111111}|[Literature, Writing, Poetry]                   |true       |30.75      |2023-04-12   |2024-05-18 11:28:25|
|6  |Michael   |Johnson  |michael.johnson@example.com|{5555555555, 4444444444}|[Physics, Chemistry, Biology]                   |true       |75.2       |2021-08-20   |2024-05-18 11:28:25|
|7  |Sarah     |Davis    |sarah.davis@example.com    |{7777777777, 8888888888}|[Computer Science, Programming, Data Structures]|true       |50.0       |2023-01-05   |2024-05-18 11:28:25|
|8  |Jessica   |Wilson   |jessica.wilson@example.com |{9999999999, 1111111111}|[Literature, Writing, Poetry]                   |true       |30.75      |2023-04-12   |2024-05-18 11:28:25|
|9  |David     |Anderson |david.anderson@example.com |{5555555555, 4444444444}|[Physics, Chemistry, Biology]                   |true       |75.2       |2021-08-20   |2024-05-18 11:28:25|
|10 |Jennifer  |Taylor   |jennifer.taylor@example.com|{7777777777, 8888888888}|[Computer Science, Programming, Data Structures]|true       |50.0       |2023-01-05   |2024-05-18 11:28:25|
+---+----------+---------+---------------------------+------------------------+------------------------------------------------+-----------+-----------+-------------+-------------------+

In [0]:
df.select('*').show(truncate=False)

+---+----------+---------+---------------------------+------------------------+------------------------------------------------+-----------+-----------+-------------+-------------------+
|id |first_name|last_name|email                      |phone_numbers           |courses                                         |is_customer|amount_paid|customer_from|last_updated_ts    |
+---+----------+---------+---------------------------+------------------------+------------------------------------------------+-----------+-----------+-------------+-------------------+
|1  |John      |Doe      |john.doe@example.com       |{1234567890, 9876543210}|[Math, Science, History]                        |true       |100.5      |2022-05-15   |2024-05-18 11:28:25|
|2  |Jane      |Smith    |jane.smith@example.com     |{9876543210, 1234567890}|[English, Art, Music]                           |false      |0.0        |2023-02-10   |2024-05-18 11:28:25|
|3  |Alice     |Johnson  |alice.johnson@example.com  |{5555555555, 4444444444}|[Physics, Chemistry, Biology]                   |true       |75.2       |2021-08-20   |2024-05-18 11:28:25|
|4  |Robert    |Brown    |robert.brown@example.com   |{7777777777, 8888888888}|[Computer Science, Programming, Data Structures]|true       |50.0       |2023-01-05   |2024-05-18 11:28:25|
|5  |Emily     |Lee      |emily.lee@example.com      |{9999999999, 1111111111}|[Literature, Writing, Poetry]                   |true       |30.75      |2023-04-12   |2024-05-18 11:28:25|
|6  |Michael   |Johnson  |michael.johnson@example.com|{5555555555, 4444444444}|[Physics, Chemistry, Biology]                   |true       |75.2       |2021-08-20   |2024-05-18 11:28:25|
|7  |Sarah     |Davis    |sarah.davis@example.com    |{7777777777, 8888888888}|[Computer Science, Programming, Data Structures]|true       |50.0       |2023-01-05   |2024-05-18 11:28:25|
|8  |Jessica   |Wilson   |jessica.wilson@example.com |{9999999999, 1111111111}|[Literature, Writing, Poetry]                   |true       |30.75      |2023-04-12   |2024-05-18 11:28:25|
|9  |David     |Anderson |david.anderson@example.com |{5555555555, 4444444444}|[Physics, Chemistry, Biology]                   |true       |75.2       |2021-08-20   |2024-05-18 11:28:25|
|10 |Jennifer  |Taylor   |jennifer.taylor@example.com|{7777777777, 8888888888}|[Computer Science, Programming, Data Structures]|true       |50.0       |2023-01-05   |2024-05-18 11:28:25|
+---+----------+---------+---------------------------+------------------------+------------------------------------------------+-----------+-----------+-------------+-------------------+

In [0]:
df.columns

['id',
 'first_name',
 'last_name',
 'email',
 'phone_numbers',
 'courses',
 'is_customer',
 'amount_paid',
 'customer_from',
 'last_updated_ts']

In [0]:
df.select('id', 'email', 'is_customer').show()

+---+--------------------+-----------+
| id|               email|is_customer|
+---+--------------------+-----------+
|  1|john.doe@example.com|       true|
|  2|jane.smith@exampl...|      false|
|  3|alice.johnson@exa...|       true|
|  4|robert.brown@exam...|       true|
|  5|emily.lee@example...|       true|
|  6|michael.johnson@e...|       true|
|  7|sarah.davis@examp...|       true|
|  8|jessica.wilson@ex...|       true|
|  9|david.anderson@ex...|       true|
| 10|jennifer.taylor@e...|       true|
+---+--------------------+-----------+

In [0]:
cols_to_select = ['id', 'email', 'is_customer']
df.select(cols_to_select).show()

+---+--------------------+-----------+
| id|               email|is_customer|
+---+--------------------+-----------+
|  1|john.doe@example.com|       true|
|  2|jane.smith@exampl...|      false|
|  3|alice.johnson@exa...|       true|
|  4|robert.brown@exam...|       true|
|  5|emily.lee@example...|       true|
|  6|michael.johnson@e...|       true|
|  7|sarah.davis@examp...|       true|
|  8|jessica.wilson@ex...|       true|
|  9|david.anderson@ex...|       true|
| 10|jennifer.taylor@e...|       true|
+---+--------------------+-----------+

### alias a dataframe

In [0]:
df.alias('u').select('u.first_name', 'u.last_name').show()

+----------+---------+
|first_name|last_name|
+----------+---------+
|      John|      Doe|
|      Jane|    Smith|
|     Alice|  Johnson|
|    Robert|    Brown|
|     Emily|      Lee|
|   Michael|  Johnson|
|     Sarah|    Davis|
|   Jessica|   Wilson|
|     David| Anderson|
|  Jennifer|   Taylor|
+----------+---------+


### you can use a combination of col and just names in the select operation

In [0]:
from pyspark.sql.functions import col

df.select(col('id'), 'first_name', 'last_name').show()

+---+----------+---------+
| id|first_name|last_name|
+---+----------+---------+
|  1|      John|      Doe|
|  2|      Jane|    Smith|
|  3|     Alice|  Johnson|
|  4|    Robert|    Brown|
|  5|     Emily|      Lee|
|  6|   Michael|  Johnson|
|  7|     Sarah|    Davis|
|  8|   Jessica|   Wilson|
|  9|     David| Anderson|
| 10|  Jennifer|   Taylor|
+---+----------+---------+

### using functions in 'select'

In [0]:
from pyspark.sql.functions import col, lit, concat

df.select('id', col('is_customer'), concat('last_name', lit(', '), col('first_name')).alias('full_name')).show()

+---+-----------+----------------+
| id|is_customer|       full_name|
+---+-----------+----------------+
|  1|       true|       Doe, John|
|  2|      false|     Smith, Jane|
|  3|       true|  Johnson, Alice|
|  4|       true|   Brown, Robert|
|  5|       true|      Lee, Emily|
|  6|       true|Johnson, Michael|
|  7|       true|    Davis, Sarah|
|  8|       true| Wilson, Jessica|
|  9|       true| Anderson, David|
| 10|       true|Taylor, Jennifer|
+---+-----------+----------------+