In [0]:
%run "./07_create_a_df"

In [0]:
df.selectExpr('*').show()

+---+----------+---------+--------------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|               email|       phone_numbers|             courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+--------------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+
|  1|      John|      Doe|john.doe@example.com|{1234567890, 9876...|[Math, Science, H...|       true|      100.5|   2022-05-15|2024-05-18 11:28:25|
|  2|      Jane|    Smith|jane.smith@exampl...|{9876543210, 1234...|[English, Art, Mu...|      false|        0.0|   2023-02-10|2024-05-18 11:28:25|
|  3|     Alice|  Johnson|alice.johnson@exa...|{5555555555, 4444...|[Physics, Chemist...|       true|       75.2|   2021-08-20|2024-05-18 11:28:25|
|  4|    Robert|    Brown|robert.brown@exam...|{7777777777, 8888...|[Computer Science...|       true|       50.0|   2023-01-05|2024-05-18 11:28:25|
|  5|     Emily|      Lee|emily.lee@example...|{9999999999, 1111...|[Literature, Writ...|       true|      30.75|   2023-04-12|2024-05-18 11:28:25|
|  6|   Michael|  Johnson|michael.johnson@e...|{5555555555, 4444...|[Physics, Chemist...|       true|       75.2|   2021-08-20|2024-05-18 11:28:25|
|  7|     Sarah|    Davis|sarah.davis@examp...|{7777777777, 8888...|[Computer Science...|       true|       50.0|   2023-01-05|2024-05-18 11:28:25|
|  8|   Jessica|   Wilson|jessica.wilson@ex...|{9999999999, 1111...|[Literature, Writ...|       true|      30.75|   2023-04-12|2024-05-18 11:28:25|
|  9|     David| Anderson|david.anderson@ex...|{5555555555, 4444...|[Physics, Chemist...|       true|       75.2|   2021-08-20|2024-05-18 11:28:25|
| 10|  Jennifer|   Taylor|jennifer.taylor@e...|{7777777777, 8888...|[Computer Science...|       true|       50.0|   2023-01-05|2024-05-18 11:28:25|
+---+----------+---------+--------------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+

In [0]:
help(df.selectExpr)

Help on method selectExpr in module pyspark.sql.dataframe:

selectExpr(*expr: Union[str, List[str]]) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Projects a set of SQL expressions and returns a new :class:`DataFrame`.

    This is a variant of :func:`select` that accepts SQL expressions.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Returns
    -------
    :class:`DataFrame`
        A DataFrame with new/old columns transformed by expressions.

    Examples
    --------
    >>> df = spark.createDataFrame([
    ...     (2, "Alice"), (5, "Bob")], schema=["age", "name"])
    >>> df.selectExpr("age * 2", "abs(age)").show()
    +---------+--------+
    |(age * 2)|abs(age)|
    +---------+--------+
    |        4|       2|
    |       10|       5|
    +---------+--------+

In [0]:
df.selectExpr(
    "id", "first_name", "last_name", "concat(last_name, ',',first_name) AS full_name"
).show()

+---+----------+---------+---------------+
| id|first_name|last_name|      full_name|
+---+----------+---------+---------------+
|  1|      John|      Doe|       Doe,John|
|  2|      Jane|    Smith|     Smith,Jane|
|  3|     Alice|  Johnson|  Johnson,Alice|
|  4|    Robert|    Brown|   Brown,Robert|
|  5|     Emily|      Lee|      Lee,Emily|
|  6|   Michael|  Johnson|Johnson,Michael|
|  7|     Sarah|    Davis|    Davis,Sarah|
|  8|   Jessica|   Wilson| Wilson,Jessica|
|  9|     David| Anderson| Anderson,David|
| 10|  Jennifer|   Taylor|Taylor,Jennifer|
+---+----------+---------+---------------+