In [0]:
%run "./07_create_a_df"

In [0]:
df.createOrReplaceTempView('TempUsers')

In [0]:
spark.sql(
    """
            select 
                    id,
                    first_name,
                    last_name,
                    concat(last_name, ',', first_name) as full_name
            from TempUsers
    """
).show()

+---+----------+---------+---------------+
| id|first_name|last_name|      full_name|
+---+----------+---------+---------------+
|  1|      John|      Doe|       Doe,John|
|  2|      Jane|    Smith|     Smith,Jane|
|  3|     Alice|  Johnson|  Johnson,Alice|
|  4|    Robert|    Brown|   Brown,Robert|
|  5|     Emily|      Lee|      Lee,Emily|
|  6|   Michael|  Johnson|Johnson,Michael|
|  7|     Sarah|    Davis|    Davis,Sarah|
|  8|   Jessica|   Wilson| Wilson,Jessica|
|  9|     David| Anderson| Anderson,David|
| 10|  Jennifer|   Taylor|Taylor,Jennifer|
+---+----------+---------+---------------+