In [0]:
%run "./07_create_a_df"

In [0]:
from pyspark.sql.functions import size, col

In [0]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_numbers: struct (nullable = true)
 |    |-- mobile: long (nullable = true)
 |    |-- home: long (nullable = true)
 |-- courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- is_customer: boolean (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- customer_from: date (nullable = true)
 |-- last_updated_ts: timestamp (nullable = true)

In [0]:
df.select("id", "first_name", "courses", size(col("courses"))).show(truncate=False)

+---+----------+------------------------------------------------+-------------+
|id |first_name|courses                                         |size(courses)|
+---+----------+------------------------------------------------+-------------+
|1  |John      |[Math, Science, History]                        |3            |
|2  |Jane      |[English, Art, Music]                           |3            |
|3  |Alice     |[Physics, Chemistry, Biology]                   |3            |
|4  |Robert    |[Computer Science, Programming, Data Structures]|3            |
|5  |Emily     |[Literature, Writing, Poetry]                   |3            |
|6  |Michael   |[Physics, Chemistry, Biology]                   |3            |
|7  |Sarah     |[Computer Science, Programming, Data Structures]|3            |
|8  |Jessica   |[Literature, Writing, Poetry]                   |3            |
|9  |David     |[Physics, Chemistry, Biology]                   |3            |
|10 |Jennifer  |[Computer Science, Programming, Data Structures]|3            |
+---+----------+------------------------------------------------+-------------+