In [0]:
%run "./07_create_a_df"

In [0]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_numbers: struct (nullable = true)
 |    |-- mobile: long (nullable = true)
 |    |-- home: long (nullable = true)
 |-- courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- is_customer: boolean (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- customer_from: date (nullable = true)
 |-- last_updated_ts: timestamp (nullable = true)

In [0]:
from pyspark.sql.functions import upper, lower, initcap

In [0]:
df.select(
    "first_name",
    upper("first_name"),
    lower("first_name"),
    initcap(lower("first_name"))
).show()

+----------+-----------------+-----------------+--------------------------+
|first_name|upper(first_name)|lower(first_name)|initcap(lower(first_name))|
+----------+-----------------+-----------------+--------------------------+
|      John|             JOHN|             john|                      John|
|      Jane|             JANE|             jane|                      Jane|
|     Alice|            ALICE|            alice|                     Alice|
|    Robert|           ROBERT|           robert|                    Robert|
|     Emily|            EMILY|            emily|                     Emily|
|   Michael|          MICHAEL|          michael|                   Michael|
|     Sarah|            SARAH|            sarah|                     Sarah|
|   Jessica|          JESSICA|          jessica|                   Jessica|
|     David|            DAVID|            david|                     David|
|  Jennifer|         JENNIFER|         jennifer|                  Jennifer|
+----------+-----------------+-----------------+--------------------------+