In [0]:
%run "./07_create_a_df"

In [0]:
columns_to_select = ['id', 'first_name', 'is_customer', 'amount_paid']
df.select(columns_to_select).show(truncate=False)

+---+----------+-----------+-----------+
|id |first_name|is_customer|amount_paid|
+---+----------+-----------+-----------+
|1  |John      |true       |100.5      |
|2  |Jane      |false      |0.0        |
|3  |Alice     |true       |75.2       |
|4  |Robert    |true       |50.0       |
|5  |Emily     |true       |30.75      |
|6  |Michael   |true       |75.2       |
|7  |Sarah     |true       |50.0       |
|8  |Jessica   |true       |30.75      |
|9  |David     |true       |75.2       |
|10 |Jennifer  |true       |50.0       |
+---+----------+-----------+-----------+

In [0]:
from pyspark.sql.functions import col

### filtering using col

In [0]:
df.filter(col('amount_paid') > 50).select(columns_to_select).show()

+---+----------+-----------+-----------+
| id|first_name|is_customer|amount_paid|
+---+----------+-----------+-----------+
|  1|      John|       true|      100.5|
|  3|     Alice|       true|       75.2|
|  6|   Michael|       true|       75.2|
|  9|     David|       true|       75.2|
+---+----------+-----------+-----------+

### can also use SQL style syntax

In [0]:
df.where("amount_paid between 50 and 100").select(columns_to_select).show()

+---+----------+-----------+-----------+
| id|first_name|is_customer|amount_paid|
+---+----------+-----------+-----------+
|  3|     Alice|       true|       75.2|
|  4|    Robert|       true|       50.0|
|  6|   Michael|       true|       75.2|
|  7|     Sarah|       true|       50.0|
|  9|     David|       true|       75.2|
| 10|  Jennifer|       true|       50.0|
+---+----------+-----------+-----------+

### where is an alias for filter

In [0]:
df.where("amount_paid > 50").select(columns_to_select).show()

+---+----------+-----------+-----------+
| id|first_name|is_customer|amount_paid|
+---+----------+-----------+-----------+
|  1|      John|       true|      100.5|
|  3|     Alice|       true|       75.2|
|  6|   Michael|       true|       75.2|
|  9|     David|       true|       75.2|
+---+----------+-----------+-----------+