In [0]:
from pyspark.sql.functions import col

In [0]:
%run "./07_create_a_df"

In [0]:
df.show()

+---+----------+---------+--------------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|               email|       phone_numbers|             courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+--------------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+
|  1|      John|      Doe|john.doe@example.com|{1234567890, 9876...|[Math, Science, H...|       true|      100.5|   2022-05-15|2024-05-18 11:28:25|
|  2|      Jane|    Smith|jane.smith@exampl...|{9876543210, 1234...|[English, Art, Mu...|      false|        0.0|   2023-02-10|2024-05-18 11:28:25|
|  3|     Alice|  Johnson|alice.johnson@exa...|{5555555555, 4444...|[Physics, Chemist...|       true|       75.2|   2021-08-20|2024-05-18 11:28:25|
|  4|    Robert|    Brown|robert.brown@exam...|{7777777777, 8888...|[Computer Science...|       true|       50.0|   2023-01-05|2024-05-18 11:28:25|
|  5|     Emily|      Lee|emily.lee@example...|{9999999999, 1111...|[Literature, Writ...|       true|      30.75|   2023-04-12|2024-05-18 11:28:25|
|  6|   Michael|  Johnson|michael.johnson@e...|{5555555555, 4444...|[Physics, Chemist...|       true|       75.2|   2021-08-20|2024-05-18 11:28:25|
|  7|     Sarah|    Davis|sarah.davis@examp...|{7777777777, 8888...|[Computer Science...|       true|       50.0|   2023-01-05|2024-05-18 11:28:25|
|  8|   Jessica|   Wilson|jessica.wilson@ex...|{9999999999, 1111...|[Literature, Writ...|       true|      30.75|   2023-04-12|2024-05-18 11:28:25|
|  9|     David| Anderson|david.anderson@ex...|{5555555555, 4444...|[Physics, Chemist...|       true|       75.2|   2021-08-20|2024-05-18 11:28:25|
| 10|  Jennifer|   Taylor|jennifer.taylor@e...|{7777777777, 8888...|[Computer Science...|       true|       50.0|   2023-01-05|2024-05-18 11:28:25|
+---+----------+---------+--------------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+

In [0]:
df.drop('courses').show()

+---+----------+---------+--------------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|               email|       phone_numbers|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+--------------------+--------------------+-----------+-----------+-------------+-------------------+
|  1|      John|      Doe|john.doe@example.com|{1234567890, 9876...|       true|      100.5|   2022-05-15|2024-05-18 11:28:25|
|  2|      Jane|    Smith|jane.smith@exampl...|{9876543210, 1234...|      false|        0.0|   2023-02-10|2024-05-18 11:28:25|
|  3|     Alice|  Johnson|alice.johnson@exa...|{5555555555, 4444...|       true|       75.2|   2021-08-20|2024-05-18 11:28:25|
|  4|    Robert|    Brown|robert.brown@exam...|{7777777777, 8888...|       true|       50.0|   2023-01-05|2024-05-18 11:28:25|
|  5|     Emily|      Lee|emily.lee@example...|{9999999999, 1111...|       true|      30.75|   2023-04-12|2024-05-18 11:28:25|
|  6|   Michael|  Johnson|michael.johnson@e...|{5555555555, 4444...|       true|       75.2|   2021-08-20|2024-05-18 11:28:25|
|  7|     Sarah|    Davis|sarah.davis@examp...|{7777777777, 8888...|       true|       50.0|   2023-01-05|2024-05-18 11:28:25|
|  8|   Jessica|   Wilson|jessica.wilson@ex...|{9999999999, 1111...|       true|      30.75|   2023-04-12|2024-05-18 11:28:25|
|  9|     David| Anderson|david.anderson@ex...|{5555555555, 4444...|       true|       75.2|   2021-08-20|2024-05-18 11:28:25|
| 10|  Jennifer|   Taylor|jennifer.taylor@e...|{7777777777, 8888...|       true|       50.0|   2023-01-05|2024-05-18 11:28:25|
+---+----------+---------+--------------------+--------------------+-----------+-----------+-------------+-------------------+

In [0]:
df.drop(col('amount_paid')).show()

+---+----------+---------+--------------------+--------------------+--------------------+-----------+-------------+-------------------+
| id|first_name|last_name|               email|       phone_numbers|             courses|is_customer|customer_from|    last_updated_ts|
+---+----------+---------+--------------------+--------------------+--------------------+-----------+-------------+-------------------+
|  1|      John|      Doe|john.doe@example.com|{1234567890, 9876...|[Math, Science, H...|       true|   2022-05-15|2024-05-18 11:28:25|
|  2|      Jane|    Smith|jane.smith@exampl...|{9876543210, 1234...|[English, Art, Mu...|      false|   2023-02-10|2024-05-18 11:28:25|
|  3|     Alice|  Johnson|alice.johnson@exa...|{5555555555, 4444...|[Physics, Chemist...|       true|   2021-08-20|2024-05-18 11:28:25|
|  4|    Robert|    Brown|robert.brown@exam...|{7777777777, 8888...|[Computer Science...|       true|   2023-01-05|2024-05-18 11:28:25|
|  5|     Emily|      Lee|emily.lee@example...|{9999999999, 1111...|[Literature, Writ...|       true|   2023-04-12|2024-05-18 11:28:25|
|  6|   Michael|  Johnson|michael.johnson@e...|{5555555555, 4444...|[Physics, Chemist...|       true|   2021-08-20|2024-05-18 11:28:25|
|  7|     Sarah|    Davis|sarah.davis@examp...|{7777777777, 8888...|[Computer Science...|       true|   2023-01-05|2024-05-18 11:28:25|
|  8|   Jessica|   Wilson|jessica.wilson@ex...|{9999999999, 1111...|[Literature, Writ...|       true|   2023-04-12|2024-05-18 11:28:25|
|  9|     David| Anderson|david.anderson@ex...|{5555555555, 4444...|[Physics, Chemist...|       true|   2021-08-20|2024-05-18 11:28:25|
| 10|  Jennifer|   Taylor|jennifer.taylor@e...|{7777777777, 8888...|[Computer Science...|       true|   2023-01-05|2024-05-18 11:28:25|
+---+----------+---------+--------------------+--------------------+--------------------+-----------+-------------+-------------------+

### if you drop a non-existing column, it WON'T throw an error

In [0]:
df.drop('some_column_not_in_this_df').show()

+---+----------+---------+--------------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|               email|       phone_numbers|             courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+--------------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+
|  1|      John|      Doe|john.doe@example.com|{1234567890, 9876...|[Math, Science, H...|       true|      100.5|   2022-05-15|2024-05-18 11:28:25|
|  2|      Jane|    Smith|jane.smith@exampl...|{9876543210, 1234...|[English, Art, Mu...|      false|        0.0|   2023-02-10|2024-05-18 11:28:25|
|  3|     Alice|  Johnson|alice.johnson@exa...|{5555555555, 4444...|[Physics, Chemist...|       true|       75.2|   2021-08-20|2024-05-18 11:28:25|
|  4|    Robert|    Brown|robert.brown@exam...|{7777777777, 8888...|[Computer Science...|       true|       50.0|   2023-01-05|2024-05-18 11:28:25|
|  5|     Emily|      Lee|emily.lee@example...|{9999999999, 1111...|[Literature, Writ...|       true|      30.75|   2023-04-12|2024-05-18 11:28:25|
|  6|   Michael|  Johnson|michael.johnson@e...|{5555555555, 4444...|[Physics, Chemist...|       true|       75.2|   2021-08-20|2024-05-18 11:28:25|
|  7|     Sarah|    Davis|sarah.davis@examp...|{7777777777, 8888...|[Computer Science...|       true|       50.0|   2023-01-05|2024-05-18 11:28:25|
|  8|   Jessica|   Wilson|jessica.wilson@ex...|{9999999999, 1111...|[Literature, Writ...|       true|      30.75|   2023-04-12|2024-05-18 11:28:25|
|  9|     David| Anderson|david.anderson@ex...|{5555555555, 4444...|[Physics, Chemist...|       true|       75.2|   2021-08-20|2024-05-18 11:28:25|
| 10|  Jennifer|   Taylor|jennifer.taylor@e...|{7777777777, 8888...|[Computer Science...|       true|       50.0|   2023-01-05|2024-05-18 11:28:25|
+---+----------+---------+--------------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+

### dropping more than 1 columns in a single command

you have to pass the columns as strings one-after-another, or using col() one-after-another.

* passing column names as list won't work

In [0]:
df.drop('id', 'email', 'courses').show()

+----------+---------+--------------------+-----------+-----------+-------------+-------------------+
|first_name|last_name|       phone_numbers|is_customer|amount_paid|customer_from|    last_updated_ts|
+----------+---------+--------------------+-----------+-----------+-------------+-------------------+
|      John|      Doe|{1234567890, 9876...|       true|      100.5|   2022-05-15|2024-05-18 11:28:25|
|      Jane|    Smith|{9876543210, 1234...|      false|        0.0|   2023-02-10|2024-05-18 11:28:25|
|     Alice|  Johnson|{5555555555, 4444...|       true|       75.2|   2021-08-20|2024-05-18 11:28:25|
|    Robert|    Brown|{7777777777, 8888...|       true|       50.0|   2023-01-05|2024-05-18 11:28:25|
|     Emily|      Lee|{9999999999, 1111...|       true|      30.75|   2023-04-12|2024-05-18 11:28:25|
|   Michael|  Johnson|{5555555555, 4444...|       true|       75.2|   2021-08-20|2024-05-18 11:28:25|
|     Sarah|    Davis|{7777777777, 8888...|       true|       50.0|   2023-01-05|2024-05-18 11:28:25|
|   Jessica|   Wilson|{9999999999, 1111...|       true|      30.75|   2023-04-12|2024-05-18 11:28:25|
|     David| Anderson|{5555555555, 4444...|       true|       75.2|   2021-08-20|2024-05-18 11:28:25|
|  Jennifer|   Taylor|{7777777777, 8888...|       true|       50.0|   2023-01-05|2024-05-18 11:28:25|
+----------+---------+--------------------+-----------+-----------+-------------+-------------------+

In [0]:
df.drop(col('id'), col('email'), col('amount_paid')).show()

+----------+---------+--------------------+--------------------+-----------+-------------+-------------------+
|first_name|last_name|       phone_numbers|             courses|is_customer|customer_from|    last_updated_ts|
+----------+---------+--------------------+--------------------+-----------+-------------+-------------------+
|      John|      Doe|{1234567890, 9876...|[Math, Science, H...|       true|   2022-05-15|2024-05-18 11:28:25|
|      Jane|    Smith|{9876543210, 1234...|[English, Art, Mu...|      false|   2023-02-10|2024-05-18 11:28:25|
|     Alice|  Johnson|{5555555555, 4444...|[Physics, Chemist...|       true|   2021-08-20|2024-05-18 11:28:25|
|    Robert|    Brown|{7777777777, 8888...|[Computer Science...|       true|   2023-01-05|2024-05-18 11:28:25|
|     Emily|      Lee|{9999999999, 1111...|[Literature, Writ...|       true|   2023-04-12|2024-05-18 11:28:25|
|   Michael|  Johnson|{5555555555, 4444...|[Physics, Chemist...|       true|   2021-08-20|2024-05-18 11:28:25|
|     Sarah|    Davis|{7777777777, 8888...|[Computer Science...|       true|   2023-01-05|2024-05-18 11:28:25|
|   Jessica|   Wilson|{9999999999, 1111...|[Literature, Writ...|       true|   2023-04-12|2024-05-18 11:28:25|
|     David| Anderson|{5555555555, 4444...|[Physics, Chemist...|       true|   2021-08-20|2024-05-18 11:28:25|
|  Jennifer|   Taylor|{7777777777, 8888...|[Computer Science...|       true|   2023-01-05|2024-05-18 11:28:25|
+----------+---------+--------------------+--------------------+-----------+-------------+-------------------+

### to drop columns using a list

In [0]:
columns_to_drop = ['id', 'email', 'courses', 'amount_paid']

df.drop(*columns_to_drop).show()

+----------+---------+--------------------+-----------+-------------+-------------------+
|first_name|last_name|       phone_numbers|is_customer|customer_from|    last_updated_ts|
+----------+---------+--------------------+-----------+-------------+-------------------+
|      John|      Doe|{1234567890, 9876...|       true|   2022-05-15|2024-05-18 11:28:25|
|      Jane|    Smith|{9876543210, 1234...|      false|   2023-02-10|2024-05-18 11:28:25|
|     Alice|  Johnson|{5555555555, 4444...|       true|   2021-08-20|2024-05-18 11:28:25|
|    Robert|    Brown|{7777777777, 8888...|       true|   2023-01-05|2024-05-18 11:28:25|
|     Emily|      Lee|{9999999999, 1111...|       true|   2023-04-12|2024-05-18 11:28:25|
|   Michael|  Johnson|{5555555555, 4444...|       true|   2021-08-20|2024-05-18 11:28:25|
|     Sarah|    Davis|{7777777777, 8888...|       true|   2023-01-05|2024-05-18 11:28:25|
|   Jessica|   Wilson|{9999999999, 1111...|       true|   2023-04-12|2024-05-18 11:28:25|
|     David| Anderson|{5555555555, 4444...|       true|   2021-08-20|2024-05-18 11:28:25|
|  Jennifer|   Taylor|{7777777777, 8888...|       true|   2023-01-05|2024-05-18 11:28:25|
+----------+---------+--------------------+-----------+-------------+-------------------+