In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Create a SparkSession
spark = SparkSession.builder.getOrCreate()

# Create a list of data with some duplicate records and some not
data = [
    (1, "John", 25),
    (2, "Jane", 30),
    (3, "John", 25),
    (4, "Mike", 35),
    (5, "Jane", 30)
]

# Create a DataFrame from the data
df = spark.createDataFrame(data, ["id", "name", "age"])

# Show the DataFrame
df.show()

+---+----+---+
| id|name|age|
+---+----+---+
|  1|John| 25|
|  2|Jane| 30|
|  3|John| 25|
|  4|Mike| 35|
|  5|Jane| 30|
+---+----+---+

### distinct will return unique rows. It doesn't take any arguements.

In [0]:
df.select('name', 'age').distinct().show()

+----+---+
|name|age|
+----+---+
|John| 25|
|Jane| 30|
|Mike| 35|
+----+---+

### drop_duplicates

In [0]:
help(df.drop_duplicates)

Help on method dropDuplicates in module pyspark.sql.dataframe:

dropDuplicates(subset=None) method of pyspark.sql.dataframe.DataFrame instance
    :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.

    .. versionadded:: 1.4

### by default, it will consider all columns as subset

In [0]:
df.drop_duplicates().show()

+---+----+---+
| id|name|age|
+---+----+---+
|  1|John| 25|
|  2|Jane| 30|
|  3|John| 25|
|  4|Mike| 35|
|  5|Jane| 30|
+---+----+---+

### pass subset to specify the columns over which duplicates are to be dropped

In [0]:
df.drop_duplicates(subset=['name', 'age']).show()

+---+----+---+
| id|name|age|
+---+----+---+
|  1|John| 25|
|  2|Jane| 30|
|  4|Mike| 35|
+---+----+---+